---
return Astro.redirect(`/blog/1/`, 301);
---
<html lang="pt-BR">
  <head>
    <meta http-equiv="refresh" content="0;url=/blog/1/" />
  </head>
  <body>
    <p>Redirecionando para <a href="/blog/1/">/blog/1/</a></p>
  </body>
</html>
