---
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog', ({ data }) => !data.draft))
  .sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());

const renderedPosts = await Promise.all(
  posts.map(async (post) => {
    const { Content } = await post.render();
    return { post, Content };
  })
);
---
<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <title>Alfarrábios do Adi</title>
</head>
<body>
  {renderedPosts.map(({ post, Content }) => (
    <div class="chapter">
      <h1>{post.data.title}</h1>
      {post.data.description && <p class="description"><em>{post.data.description}</em></p>}
      <Content />
    </div>
  ))}
</body>
</html>
